aside {
  width: 296px;
}

ul.navbar-nav {
  .nav-item {
    .nav-link {
      display: block;
      border-left: 4px solid rgba(0, 0, 0, 0);
      padding-left: 28px;

    }

    .link-active {
      color: $success;
      border-left: 4px solid $success;
    }
  }

}

.userInfo {
  a:hover {
    text-decoration: underline;
  }
}